/* EVERYTHING IN THE GRID BOX DISPLAY */
.itemCard {
    width: 18rem;
    height: 18rem;
    border: black solid .5px;
    position: relative;
}

.itemCard img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
} 

.itemContainer {
    transition: 1s ease;
}

.itemContainer:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    }

/* EVERYTHING IN THE MODAL */

.modal {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    max-width: 100%;
    height: 800px;
    max-height: 100%;
    animation: pop-swirl .5s;
    background-color: rgba(0,0,0, 0.9);
    
}

.modal.scroll {
    /* margin:4px, 4px; */
        padding:4px;
        width: 700px;
        height: 800px;
        overflow-x: hidden;
        overflow-y: auto;
}

.image {
    width: 400px;
    height: 400px;
    position:relative; 
    margin-left: auto;
    margin-right:auto;
    display: block;
}


.modal-content #bttn {
  position: relative;
  left:90%;


  border-color: gray;
  background-color: white;
  font-size: 18px;
  border: solid #0a8f19;
  border-width: thin;
  font-size: 1.5;
  font-weight: bold;
  padding: 10px 12px;
  margin-top: 20px;
  margin-bottom: 15px;
}


.modal-content p {
    /* font-family: "Lucida Console", "Courier New", monospace; */
    font-family: 'Rubik', sans-serif;
    font-size: 1.2rem;
    
  }

.info-about-item{
    background-color: white;
    margin-top: 4%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 3px;
}

.tradingButton {
    border-color: gray;
    background-color: white;
    font-size: 18px;
    border: solid #0a8f19;
    border-width: thin;
    font-size: 1.5;
    font-weight: bold;
    padding: 10px 12px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.modal-content #h2 {
    color: white;
}

/* .buttonContainer {
    width: 18rem;
    height: 10rem;
} */