.card-container .userImage {
    width: 70%;
    height: 50%;
    border-radius: 50%; 

} 
.selected-item {
    width: 100%;
    height: 100%;
    /* border-radius: 50%; */
} 

.card {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* max-width: 300px; */
  /* margin-left: 8%; */
  text-align: center;
  margin-left: 5%;
  margin-right: 15%;
 
  /* display: flex; */
  /* display:flex; */
  /* flex-direction: column; */
  
}
.other-card {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
text-align: center;
margin-left: 15%;
margin-right: 5%;
}
.tradeImageContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: 18rem 18rem; */
  row-gap: 1rem;
  column-gap: 0px;
  justify-items: center;
  align-items: center;
}

.card-container {
  display:grid;
  grid-template-columns: repeat(3,1fr);
  /* margin-right: 1%;
  margin-left: 10% */
  
}

.traded-item {
  margin-top: 10%;
    width: 30%;
    height: 30%;
    /* border-radius: 50%; */
}



/* .kristen-card {
  margin-left: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
} */

.title {
    color: grey;
    font-size: 18px;
  }

  .request-bton {
    border: none;
    outline: 0;
    display: inline-block;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
    background-color: #0a8f19;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
  }


  .product-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 700px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-bottom: 5%;
  }

  .price {
  color: grey;
  font-size: 22px;
}

.item-name {
  color: black;
  font-size: 28px;
}

.details {
  color: black;
  font-size: 16px;
  font-family: arial;
}

.cart-section {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* max-width: 700px; */ 

/* margin-right: 30%; */
  /* margin-left: 25%; */ 
  text-align: center;
  font-family: arial;
  display:block
}

.home-button {
  border-color: gray;
  background-color: white;
  font-size: 18px;
  border: solid #0a8f19;
  border-width: thin;
  font-size: 1.5;
  font-weight: bold;
  padding: 10px 12px;
}

.home-button:hover{
  background-color: #d4d2d4;
}

.home-button-container {
  display: flex;
  justify-content: right;
  margin-bottom: 3%;
  margin-right: 10%
}

.userItemHeader {
  margin-left: 80px;
  margin-bottom: 80px;
}

/* .swap {
  margin-top: 30%;
} */

/* .enter-dol{
  margin-top: 50%;
} */

.swap p{
  margin-top: 8%;
}

/* .swap label{
  margin-top: 8%;
} */

.swap h3{
  margin-top: 12%;
}